/* Variables para facilitar cambios futuros */
:root {
    --oscuro: #4b4c2c;
    --medio: #797641;
    --lima: #9fa659;
    --claro: #ffffff;
}

/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--claro);
    color: #333;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background-color: var(--medio) !important;
}

.navbar .navbar-brand, 
.navbar .nav-link {
    color: var(--claro) !important;
    font-weight: 500;
}

.navbar .nav-link.active {
    border-bottom: 2px solid var(--lima);
}

/* Sección Hero */
.hero-section h1 {
    color: var(--blanco);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.bg-light-custom {
    background-color: var(--claro) !important;
    color: var(--oscuro);
}

/* Cards */
#info {
    background-color: var(--claro);
    padding: 60px 0;
}

#info h3 {
    color: var(--oscuro);
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease;
    
    background-color: var(--claro);

}

.card-title {
    color: var(--oscuro);
    font-weight: bold;
}

.btn-custom {
    background-color: var(--lima);
    color: var(--claro);
    border: none;
}

.btn-custom:hover {
    background-color: var(--medio);
    color: var(--claro);
}

.ayuda-section {
    background-color: var(--oscuro) !important;
    color: var(--claro);
}

.ayuda-section i {
    color: var(--lima);
}

/* Footer */
footer {
    background-color: #0d2b18 !important; /* Un poco más oscuro que el verde oscuro */
    color: var(--claro) !important;
    border-top: 4px solid var(--lima);
}